.collapse{
  transition: all 1s ease;
}

a{
  color: white !important;
  margin-left: 0.5rem;
}

.navbar-brand{
  margin-left: 1rem;
  font-size: 1.8rem;
}

.nav-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-link{
  cursor: pointer;
}

.ng-fa-icon{
  color: #FFF;
  font-size: 1.5rem;
}

.flex-column{
  z-index: 12;
  position: absolute;
  background-color:transparent;
  display: none;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: box-shadow .25s 1s cubic-bezier(0, 1.07, 0, 1.22);
}

.flex-column a{
  color: #000 !important;
}

.flex-column .ng-fa-icon{
  color: #000 !important;
}
.flex-column.visible{
  display: flex;
  opacity: 1;
}

.menu-opts{
  z-index: 299;
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 0 0 0 0 #fff;
  background-color: #fff;
  cursor: pointer;
  transition: box-shadow 1.1s cubic-bezier(.19, 1, .22, 1);

}

.menu-opts:hover{
  box-shadow: 0 0 0 8px #fff, 0 0 0 8px #fff;
}

.menu-opts .hamburguer {
  position: relative;
  display: block;
  background: #000;
  width: 30px;
  height: 2px;
  left: 15px;
  transition: .5s ease-in-out;
}

#menu-hamburguer-checkbox{
  display: none;
}

.menu-opts .hamburguer:before, .hamburguer:after {
  content: '';
  display: block;
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: .5s ease-in-out;
}

.menu-opts .hamburguer:before{
  top: -10px;
}

.menu-opts .hamburguer:after{
  bottom: -10px;
}


#menu-hamburguer-checkbox:checked ~ label .menu-opts{
  box-shadow: 0 0 0 110vw #fff, 0 0 0 100vh #fff;
}

#menu-hamburguer-checkbox:checked ~ label .hamburguer{
  transform: rotate(45deg);
}


#menu-hamburguer-checkbox:checked ~ label .hamburguer:before{
  transform: rotate(90deg);
  top:0;
}

#menu-hamburguer-checkbox:checked ~ label .hamburguer:after{
  transform: rotate(90deg);
  bottom: 0;
}

.logout{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 30px;
  width: 10%;
  cursor: pointer;
}

.logout a{
  text-decoration: none;
  margin-right: 10px;
}


@media (max-width: 960px)
{
  .navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .navbar-brand{
    font-size: 1.4rem;
  }

  .logout a:nth-last-of-type(1){
    display: none;
  }

}

@media (max-width: 370px)
{

  .logout{
    margin-left: 45%;
  }
}
