<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <p>Ainda não tem uma conta? Cadastre-se <a class="primary" routerLink="/register">clicando aqui!</a> </p>

  <section>
   <label>
     Username:
     <input type="text" formControlName="username">
   </label>
   <div class="error">
     <div *ngIf="(username.touched || submitted) && username.errors?.required">
       Insira um username.
     </div>
     <div *ngIf="(username.touched || submitted) && username.errors?.minlength">
       Username muito pequeno.
     </div>
     <div *ngIf="(username.touched || submitted) && username.errors?.maxLength">
       Username muito Grande.
     </div>
   </div>

   <label>
     Senha:
     <input type="hashedPassword" formControlName="hashedPassword">
   </label>
   <div class="error">
     <div *ngIf="(hashedPassword.touched || submitted) && hashedPassword.errors?.required">
       Insira uma senha.
     </div>
     <div *ngIf="(hashedPassword.touched || submitted) && hashedPassword.errors?.minlength">
       Senha muito Curta.
     </div>
   </div>

    <button type="submit" [disabled]="!loginForm.valid">Logar</button>
  </section>
 </form>
