.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row{
  padding:40px;
}

.card{
  position: unset;
  margin-bottom: 2rem;
}
@media (min-width: 1000px)
{
  .card{
    max-width: 30%;
  }
}
