<section class="row justify-content-around">
  <div class="card col-md-4 col-sm-6" *ngFor="let task of schoolTasks">
    <div class="card-body">
      <h5 class="card-title">{{ task.title }}</h5>
      <img
    src="https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1309&q=80"
    class="card-img-top" alt="...">
      <p class="card-text">
        Descrição: {{ task.description }} <br>
        Energia Necessária: {{ task.energy }}
        <br>
        <span class="text-success"> Recompensas: </span><br>
        <span class="text-success">-Conhecimento: </span>{{ task.knowledge }} <br>
        <span class="text-success">-Popularidade: </span>{{ task.popularity }}
      </p>
      <button type="button" class="btn btn-outline-success" (click)="handleDoTask(task.id)">Realizar</button>
    </div>
  </div>
</section>
