main{
  width:100%;
  height:90vh;
  max-height: 100vh;
  background: url('../../assets/backgrounnd-home.jpg');
  background-size: contain;
  background-position: center;
  z-index: -1;
  opacity: 1;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4%;
  text-align: center;
}

.title p{
  color: white;
  margin: 0;
  font-size: 3rem;
  text-shadow: rgb(255, 111, 249) 3px 0px 0px, rgb(255, 111, 249) 2.83487px 0.981584px 0px, rgb(255, 111, 249) 2.35766px 1.85511px 0px, rgb(255, 111, 249) 1.62091px 2.52441px 0px, rgb(255, 111, 249) 0.705713px 2.91581px 0px, rgb(255, 111, 249) -0.287171px 2.98622px 0px, rgb(255, 111, 249) -1.24844px 2.72789px 0px, rgb(255, 111, 249) -2.07227px 2.16926px 0px, rgb(255, 111, 249) -2.66798px 1.37182px 0px, rgb(255, 111, 249) -2.96998px 0.42336px 0px, rgb(255, 111, 249) -2.94502px -0.571704px 0px, rgb(255, 111, 249) -2.59586px -1.50383px 0px, rgb(255, 111, 249) -1.96093px -2.27041px 0px, rgb(255, 111, 249) -1.11013px -2.78704px 0px, rgb(255, 111, 249) -0.137119px -2.99686px 0px, rgb(255, 111, 249) 0.850987px -2.87677px 0px, rgb(255, 111, 249) 1.74541px -2.43999px 0px, rgb(255, 111, 249) 2.44769px -1.73459px 0px, rgb(255, 111, 249) 2.88051px -0.838247px 0px;
}


.footer{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  bottom: 0vh;
  background-color: black;
  mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)), linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0));
  height: 20%;
  width: 100%;
}

.footer:after{
  position: absolute;
  top:0;
  font-size: 1.6rem;
  z-index: 3213412;
  content: 'Ainda não tem uma conta em nosso café?';
  color: #fff;
}

.footer button{
  margin-top: 50px;
  background-color: rgb(158, 52, 52);
  font-size: 1.6rem;
  height: 3.5rem;
  width: 20rem;
  color: #fff;
  margin-right: 10px;
}

@media (max-width: 500px)
{
  .title p{
    font-size: 1.8rem;
    text-shadow: rgb(255, 111, 249) 3px 0px 0px, rgb(255, 111, 249) 2.83487px 0.981584px 0px, rgb(255, 111, 249) 2.35766px 1.85511px 0px, rgb(255, 111, 249) 1.62091px 2.52441px 0px, rgb(255, 111, 249) 0.705713px 2.91581px 0px, rgb(255, 111, 249) -0.287171px 2.98622px 0px, rgb(255, 111, 249) -1.24844px 2.72789px 0px, rgb(255, 111, 249) -2.07227px 2.16926px 0px, rgb(255, 111, 249) -2.66798px 1.37182px 0px, rgb(255, 111, 249) -2.96998px 0.42336px 0px, rgb(255, 111, 249) -2.94502px -0.571704px 0px, rgb(255, 111, 249) -2.59586px -1.50383px 0px, rgb(255, 111, 249) -1.96093px -2.27041px 0px, rgb(255, 111, 249) -1.11013px -2.78704px 0px, rgb(255, 111, 249) -0.137119px -2.99686px 0px, rgb(255, 111, 249) 0.850987px -2.87677px 0px, rgb(255, 111, 249) 1.74541px -2.43999px 0px, rgb(255, 111, 249) 2.44769px -1.73459px 0px, rgb(255, 111, 249) 2.88051px -0.838247px 0px;
  }

  main{
    opacity: 1;
    background-size: cover;
    background-color: rgba(0,0,0,0.1);
  }
  .footer{
    align-items: center;
    flex-direction: column;
    bottom: 5px;
  }

  .footer button{
    margin-top: 3px;
  }
  .footer button:nth-of-type(2){
    display: none;
  }

  .footer:after{
    content: 'Bem vindo ao nosso café';
  }
}
